<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let std of stdArr; let i=index'>
                <td>{{i+1}}</td>
                <td>{{std.fname}} {{std.lname}}</td>
                <td>{{std.email}}</td>
                <td>{{std.contact}}</td>
                <td>{{std.status === 'Active' ? 'YES' : 'NO'}}</td>
                <td>
                    <button
                    (click) = 'onEditstd(std)'
                    mat-raised-button color="primary">Edit</button>
                </td>
                <td>
                    <button
                    (click) = 'onRemove(std.stdId)'
                    mat-raised-button color="warn">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>