<h2 class="bg-info p-2 rounded">CRUD Using @Input and @Outpu</h2>
<div class="row my-2">
    <div class="col-md-6 offset-md-3">
        <app-card-form
        (onUpdateObj) = 'onUpdatedObj($event)'
        [onEditCard] = 'onEditCard'
        (newCard) = 'onNewCard($event)'
        ></app-card-form>
    </div>
</div>
<div class="row my-3" *ngIf = 'cardArr.length>0; else : noCard'>
    <div class="col-md-4 mb-3 h-100" *ngFor = 'let card of cardArr'>
        <app-card-list
        (editCard) = 'editCard($event)'
        (removeCard) = 'onRemoveCard($event)'
        [cardArrGet] = 'card'
        ></app-card-list>
    </div>
</div>
<ng-template #noCard>
    <p class="alert alert-success">There is no card !!!</p>
</ng-template>